<div class="row" ng-controller="dashboardCtrl">
    <div class="col-md-12">
        <div>
            <form class="form-horizontal kub-form" role="form" ng-submit="collect()" ng-show="!showNativeApp">
                <div>
                    <input type="text" ng-model="kubernetes.project" placeholder="project" />
                    <input type="text" ng-model="kubernetes.podname" placeholder="POD name"/>
                    <button type="submit" class="btn btn-primary ">
                        <span class="fa fa-refresh"></span> Start collect!
                    </button>
                </div>
            </form>
        </div>
        <div>
            <form class="form-horizontal kub-form" role="form" ng-submit="collect(); showPanel = true; " ng-show="showNativeApp">
                <div>
                    <input type="text" ng-model="native.process" placeholder="process id" />                    
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-refresh"></span> Start collect!
                    </button>
                </div>
            </form>
        </div>
        <div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="showNativeApp = !showNativeApp" > Native Application
                </label>
            </div>
        </div>
        
        <div ng-show="showPanel">
            <div class="page-header">
                Memory metrics for POD {{kubernetes.podname}}
            </div>
            
            <div class="row">
                <nvd3 options="totalOptions" data="totalMetrics"></nvd3>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <!-- HEAP -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Heap</div>
                        <div class="panel-body">                        
                            <nvd3 options="options" data="heapMetrics"></nvd3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- CLASS -->
                    <div class="panel panel-default">
                        <div class="panel-heading">Class</div>
                        <div class="panel-body">
                            <nvd3 options="options" data="classMetrics"></nvd3>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="row">
                <!-- Code -->
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Code</div>
                        <div class="panel-body">
                            <nvd3 options="options" data="codeMetrics"></nvd3>
                        </div>
                    </div>
                </div>

                <!-- Thread -->
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Thread</div>
                        <div class="panel-body">
                            <nvd3 options="options" data="threadMetrics"></nvd3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>