<div class="row">
    <div class="col-md-12">
        <div>
            <form class="form-horizontal kub-form" role="form" ng-submit="collect()">
                <div>
                    <input type="text" ng-model="kubernetes.project" placeholder="project" />
                    <input type="text" ng-model="kubernetes.podname" placeholder="POD name"/>
                    <button type="submit" class="btn btn-primary ">
                        <span class="fa fa-refresh"></span> Start collect!
                    </button>
                </div>
            </form>
        </div>
        
        <div ng-controller="dashboardCtrl">
            <nvd3 options="totalOptions" data="totalMetrics"></nvd3>
            <nvd3 options="heapOptions" data="heapMetrics"></nvd3>
            <nvd3 options="classOptions" data="classMetrics"></nvd3>
            
        </div>
        
    </div>
</div>